<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Contorion login to product search Suite">

	<test name="Contorio App Test Cases">
		<classes>
			<class name="de.contorion.testcases.LandingPageTest"></class>
			<class name="de.contorion.testcases.LoginPageTest"></class>
			<class name="de.contorion.testcases.SearchPageTest"></class>

		</classes>
	</test>
</suite>